* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: #1B1F27;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #181920;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
}

.header {
    background-color: #181920;
    color: #ffffff;
    font-family: 'Poppins Medium', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;

}

.form-control label {
    color: #1b2a50;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-control input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #1b2a50;
    color: #ffffff;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    width: 100%;
    height: 60px;
    padding-left: 10px;
}

.form-control p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}

.form button {
    background-color: #1b2a50;
    border: 2px solid #1b2a50;
    color: #ffffff;
    font-size: 14px;
    width: 60%;
    height: 60px;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.campo_entrada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 150px;
    height: auto;
}